
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Seite3</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Seite 2", "Seite2", "Home") <br />
        @Html.ActionLink("Seite 1", "Index", "Home")
    </div>
</body>
</html>
